body{
	font-family: verdana, sans-serif;
}

#heading{
	color: purple;
}

#box{
	width: 100px;
	height: 100px;
	background-color: green;
	display: none;
	position: relative;
}

#rTime{
	text-decoration: underline;;
	display: none;
}